{% extends 'base.html' %}
{% block content %}
    <main class="main main--about">
        <p>
            Akershus Fortress is a great place to discover Oslo's history and enjoy a summer day.

The building of Akershus Castle and Fortress was commenced in 1299 under king Håkon V. The medieval castle, which was completed in the 1300s, had a strategic location at the very end of the headland, and withstood a number of sieges throughout the ages. King Christian IV (1588-1648) had the castle modernised and converted into a Renaissance castle and royal residence.
        </p>
        <p>
            ram is the strongest wooden ship ever built and still holds the records for sailing farthest north and farthest south.

At the Fram Museum you can come on board the ship and see how the crew and their dogs managed to survive in the coldest and most dangerous places on earth - the Arctic and the Antarctic. The exhibition is translated into ten languages: English, French, German, Italian, Spanish, Russian, Japanese, Chinese, Korean and Norwegian.
        </p>
        <p>
            Experience Oslo's best view from the top of the tower in Holmenkollbakken, here you get a panoramic view of Oslo and the surrounding areas.

In addition to the jump tower, they also have a ski simulator and a souvenir shop.
        </p>
    </main>
{% endblock %}
