{% extends 'base.html' %}
{% block content %}
    <main class="main main--contact">
        <dl>
            <div class="contact">
                <dt>Email:</dt>
                <dd class="contact__details">
                    
                        linkin8288@gmail.com
                    
                </dd>
            </div>
            <div class="contact">
                <dt>GitHub:</dt>
                <dd class="contact__details">
                    
                        @linkin8288
                    
                </dd>
            </div>
        </dl>
    </main>
{% endblock %}
